#parcel-detail
    @include page-template

    header
        border-bottom: solid 1px $color-text-primary

    .columns
        margin-bottom: $space-medium
    
    .product-image
        z-index: 500 // to force the redraw of border-radius
        border-radius: $radius $radius 0 0
        width: 100%

    .content-box
        @include content-box
        border-top-left-radius: 0
        border-top-right-radius: 0

    
    .footer
        text-align: center
        
    .data-field
        border-bottom: 0.1rem solid rgb(221, 221, 221)

@media screen and ( min-width: $media-tablet )
    #parcel-detail
        .columns
            display: flex
            justify-content: space-between

            .content-box
                order: 1
                width: 400px
                border-radius: $radius
                margin-right: $space-big
                margin-bottom: 0

            .product-image
                order: 2
                // width: 100% // to force to play along flexbox
                height: 400px // to force to play along flexbox
                border-radius: $radius
                width: auto
                img
                    object-fit: contain

            
            .footer
                text-align: right


@media screen and ( min-width: $media-phablet )
  .data-field
      margin: $space-medium 0
